In [1]:
import pandas as pd
import sqlalchemy

In [2]:
df_qual = pd.read_csv("opendata_messwert.csv", sep = ";", index_col=["sl_nr"], dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str })

C:\Users\sinan\anaconda3\envs\geo\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
# check if string can be converted to float
def is_float(element: str) -> bool:
    try:
        float(element)
        return True
    except ValueError:
        return False

In [4]:
# check if string starts with '<'
def is_less(element: str) -> bool:
    return element[0] == "<"

In [5]:
# check if string starts with '>'
def is_greater(element: str) -> bool:
    return element[0] == ">"

In [6]:
%time idx_mess_is_float   = df_qual["messergebnis_c"].apply(is_float)
#%time idx_mess_not_float  = ~idx_mess_is_float
%time idx_mess_is_less    = df_qual["messergebnis_c"].apply(is_less)
%time idx_mess_is_greater = df_qual["messergebnis_c"].apply(is_greater)

Wall time: 2.66 s
Wall time: 727 ms
Wall time: 771 ms

In [7]:
df_qual[idx_mess_is_less].shape

(1974713, 15)

In [8]:
assert idx_mess_is_float.sum() + (~idx_mess_is_float).sum() == df_qual.shape[0], "mess has either to be float or not float"

In [9]:
# ((idx_mess_is_less | idx_mess_is_greater) == idx_mess_not_float).value_counts()
assert ((idx_mess_is_less | idx_mess_is_greater) != (~idx_mess_is_float)).sum() == 0, "'not float' supposed to come from '<' or '>' but nothing else."

In [10]:
# Print records which are neither less nor greater nor float -> should be empty data frame
assert df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float].shape[0] == 0
print(df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float])

Empty DataFrame
Columns: [messstelle_id, pna_id, datum_pn, stoff_nr, probengut, messergebnis_c, messergebnis_hinweis, bestimmungsgrenze, masseinheit, trennverfahren, verfahren, vor_ort, herkunft, aktual_dat, erstell_dat]
Index: []

In [11]:
df_qual.loc[idx_mess_is_float, "messergebnis_cm"] = "="
df_qual.loc[idx_mess_is_less, "messergebnis_cm"] = "<"
df_qual.loc[idx_mess_is_greater, "messergebnis_cm"] = ">"

In [15]:
# df_qual.messergebnis_c = df_qual.messergebnis_c.replace('[^\d.]','',regex = True).astype(float)

In [12]:
df_qual.messergebnis_c = df_qual.messergebnis_c.replace({'>':''}, regex=True)

In [13]:
df_qual.messergebnis_c = df_qual.messergebnis_c.replace({'<':''}, regex=True)

In [14]:
df_qual

,messstelle_id,pna_id,datum_pn,stoff_nr,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort,herkunft,aktual_dat,erstell_dat,messergebnis_cm
sl_nr,,,,,,,,,,,,,,,,
2903561,59620687,5/2005/4599,20051018,1164,Grundwasser,22.00000,NaN,NaN,µg/l,Gesamtgehalt,DIN 38406-E22 MAERZ 1988,,HYGC_BR-AR,20051205,20051205,=
2903564,59620687,5/2005/4599,20051018,1061,Grundwasser,6.80000,NaN,NaN,-,Gesamtgehalt,DIN 38404-C5 JANUAR 1984,ja,HYGC_BR-AR,20051205,20051205,=
2903565,59620687,5/2005/4599,20051018,1011,Grundwasser,12.80000,NaN,NaN,°C,Gesamtgehalt,DIN 38404-C4 DEZEMBER 1976,ja,HYGC_BR-AR,20051205,20051205,=
2903584,59620389,5/2005/5002,20051114,1011,Grundwasser,12.30000,NaN,NaN,°C,Gesamtgehalt,DIN 38404-C4 DEZEMBER 1976,ja,HYGC_BR-AR,20051205,20051205,=
2903585,59620080,5/2005/5001,20051111,1061,Grundwasser,7.40000,NaN,NaN,-,Gesamtgehalt,DIN 38404-C5 JANUAR 1984,ja,HYGC_BR-AR,20051205,20051205,=
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2882791,10407406,1/2004/91121,20041026,1331,Grundwasser,19.20000,NaN,NaN,mg/l,Gesamtgehalt,DIN 38405-D19 FEBRUAR 1988,,HYGC_BR-K,20051107,20051107,=
2882792,10407406,1/2004/91121,20041026,1472,Grundwasser,5.13000,NaN,NaN,mmol/l,Gesamtgehalt,DIN 38409-H7-1-2 MAI 1979,ja,HYGC_BR-K,20051107,20051107,=
2882793,10407406,1/2004/91121,20041026,1477,Grundwasser,0.35000,NaN,NaN,mmol/l,Gesamtgehalt,DIN 38409-H7-2-2 MAI 1979,,HYGC_BR-K,20051107,20051107,=
2882794,10407406,1/2004/91121,20041026,1521,Grundwasser,0.50000,NaN,NaN,mg/l,Membranfilter,DIN 38409-H3 JUNI 1983,,HYGC_BR-K,20051107,20051107,=
2882795,10407406,1/2004/91121,20041026,1690,Grundwasser,0.00000,NaN,NaN,1/ml,Gesamtgehalt,GEMAESS DIN 38411-K5 FEBRUAR 1983,,HYGC_BR-K,20051107,20051107,=

In [15]:
# df1 = df_qual(df_qual["sl_nr"] == '2980420')
# df_qual['stoff_nr'] == '1240'

df1 = df_qual.filter(items = [2980420], axis=0)

In [16]:
df1

,messstelle_id,pna_id,datum_pn,stoff_nr,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort,herkunft,aktual_dat,erstell_dat,messergebnis_cm
sl_nr,,,,,,,,,,,,,,,,
2980420,59620419,5/2007/4322,20071011,1072,Grundwasser,-27.00000,NaN,NaN,mV,Gesamtgehalt,DIN 38404-C6 MAI 1984,,HYGC_BR-AR,20071107,20071107,=

In [17]:
 df_qual.messergebnis_c = df_qual.messergebnis_c.astype(float)

In [18]:
# df_qual.datum_pn=pd.to_datetime(df_qual.datum_pn)
# df_qual.aktual_dat=pd.to_datetime(df_qual.aktual_dat)
# df_qual.erstell_dat =pd.to_datetime(df_qual.erstell_dat)

# df_qual['datum_pn'] = pd.to_datetime(df_qual['datum_pn'])

# df_qual['datum_pn'] = df_qual['datum_pn'].astype('datetime64[ns]')

df_qual['datum_pn'] = pd.to_datetime(df_qual['datum_pn'], format = "%Y%m%d")

In [22]:
df_qual['aktual_dat'] = pd.to_datetime(df_qual['aktual_dat'], format = "%Y%m%d")
df_qual['erstell_dat'] = pd.to_datetime(df_qual['erstell_dat'], format = "%Y%m%d")

In [23]:
df_qual.dtypes

messstelle_id                    int64
pna_id                          object
datum_pn                datetime64[ns]
stoff_nr                         int64
probengut                       object
messergebnis_c                 float64
messergebnis_hinweis            object
bestimmungsgrenze              float64
masseinheit                     object
trennverfahren                  object
verfahren                       object
vor_ort                         object
herkunft                        object
aktual_dat              datetime64[ns]
erstell_dat             datetime64[ns]
messergebnis_cm                 object
dtype: object

In [24]:
df_qual

,messstelle_id,pna_id,datum_pn,stoff_nr,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort,herkunft,aktual_dat,erstell_dat,messergebnis_cm
sl_nr,,,,,,,,,,,,,,,,
2903561,59620687,5/2005/4599,2005-10-18,1164,Grundwasser,22.00,NaN,NaN,µg/l,Gesamtgehalt,DIN 38406-E22 MAERZ 1988,,HYGC_BR-AR,2005-12-05,2005-12-05,=
2903564,59620687,5/2005/4599,2005-10-18,1061,Grundwasser,6.80,NaN,NaN,-,Gesamtgehalt,DIN 38404-C5 JANUAR 1984,ja,HYGC_BR-AR,2005-12-05,2005-12-05,=
2903565,59620687,5/2005/4599,2005-10-18,1011,Grundwasser,12.80,NaN,NaN,°C,Gesamtgehalt,DIN 38404-C4 DEZEMBER 1976,ja,HYGC_BR-AR,2005-12-05,2005-12-05,=
2903584,59620389,5/2005/5002,2005-11-14,1011,Grundwasser,12.30,NaN,NaN,°C,Gesamtgehalt,DIN 38404-C4 DEZEMBER 1976,ja,HYGC_BR-AR,2005-12-05,2005-12-05,=
2903585,59620080,5/2005/5001,2005-11-11,1061,Grundwasser,7.40,NaN,NaN,-,Gesamtgehalt,DIN 38404-C5 JANUAR 1984,ja,HYGC_BR-AR,2005-12-05,2005-12-05,=
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2882791,10407406,1/2004/91121,2004-10-26,1331,Grundwasser,19.20,NaN,NaN,mg/l,Gesamtgehalt,DIN 38405-D19 FEBRUAR 1988,,HYGC_BR-K,2005-11-07,2005-11-07,=
2882792,10407406,1/2004/91121,2004-10-26,1472,Grundwasser,5.13,NaN,NaN,mmol/l,Gesamtgehalt,DIN 38409-H7-1-2 MAI 1979,ja,HYGC_BR-K,2005-11-07,2005-11-07,=
2882793,10407406,1/2004/91121,2004-10-26,1477,Grundwasser,0.35,NaN,NaN,mmol/l,Gesamtgehalt,DIN 38409-H7-2-2 MAI 1979,,HYGC_BR-K,2005-11-07,2005-11-07,=
2882794,10407406,1/2004/91121,2004-10-26,1521,Grundwasser,0.50,NaN,NaN,mg/l,Membranfilter,DIN 38409-H3 JUNI 1983,,HYGC_BR-K,2005-11-07,2005-11-07,=
2882795,10407406,1/2004/91121,2004-10-26,1690,Grundwasser,0.00,NaN,NaN,1/ml,Gesamtgehalt,GEMAESS DIN 38411-K5 FEBRUAR 1983,,HYGC_BR-K,2005-11-07,2005-11-07,=

In [25]:
df_qual.to_csv("test.csv")

In [19]:
engine = sqlalchemy.create_engine("postgresql://elwas:PelwasG21@eolab.de:5432/elwas")

In [1]:
%time df_qual.to_sql(con=engine, name="messwert2", schema="sina", if_exists="replace", index=False)

In [1]:
# %load_ext sql

In [2]:
# %sql postgresql://elwas:PelwasG21@eolab.de/elwas

'Connected: elwas@elwas'

In [14]:
# %%sql 

# drop table sina.messwert CASCADE